
@import url("reset.css");

.wrapper {
	width : 100%;
	min-height: 100vh;
	position: relative;

}
.container {
	width:100%;
	padding:20px 25px 40px 25px;
	font-size: 10px;
}
.footer {
	position: absolute;
	bottom:0;
	width:100%;
	background:#fafafa;
	color:#b3b3b3;
	padding:50px 20px 50px 20px;
	z-index: 1;
	font-size: 10px;
}

/* ============================================================================================
	Font
============================================================================================ */
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 200;
	src: url('font/NotoSansKR-Light-Hestia.eot');
	src: url('font/NotoSansKR-Light-Hestia.eot?#iefix') format('embedded-opentype'),
		 url('font/NotoSansKR-Light-Hestia.woff') format('woff'),
		 url('font/NotoSansCJKkr-Light.ttf') format('truetype');
}

@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 400;
	src: url('font/NotoSansKR-Regular-Hestia.eot');
	src: url('font/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'),
		 url('font/NotoSansKR-Regular-Hestia.woff') format('woff'),
		 url('font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
/* semi-Bold */
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 600;
	src: url('font/NotoSansKR-Medium-Hestia.eot');
	src: url('font/NotoSansKR-Medium-Hestia.eot?#iefix') format('embedded-opentype'),
		 url('font/NotoSansKR-Medium-Hestia.woff') format('woff'),
		 url('font/NotoSansCJKkr-Medium.ttf') format('truetype');
}
/* Bold */
@font-face {
	font-family: noto;
	font-style: normal;
	font-weight: 900;
	src: url('font/NotoSansKR-Bold-Hestia.eot') format('eot');
	src: url('font/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'),
		 url('font/NotoSansKR-Bold-Hestia.woff') format('woff'),
		 url('font/NotoSansCJKkr-Bold.ttf') format('truetype');
}

/* en */
@font-face {
	font-family:noto;
	unicode-range:U+0041-005A, U+0061-007A;
	font-style: normal;
	font-weight: 200;
	src: url('font/en/GillSans-Light.eot');
	src: url('font/en/GillSans-Light.eot?#iefix') format('embedded-opentype'),
		 url('font/en/GillSans-Light.woff') format('woff'),
		 url('font/en/GillSans-Light.ttf') format('truetype');
  }
@font-face {
	font-family: noto;
	unicode-range:U+0041-005A, U+0061-007A;
	font-style: normal;
	font-weight: 400;
	src: url('font/en/GillSans.eot');
	src: url('font/en/GillSans.eot?#iefix') format('embedded-opentype'),
		 url('font/en/GillSans.woff') format('woff'),
		 url('font/en/GillSans.ttf') format('truetype');
  }
  @font-face {
	font-family: noto;
	unicode-range:U+0041-005A, U+0061-007A;
	font-style: normal;
	font-weight: 600;
	src: url('font/en/GillSans-Medium.eot');
	src: url('font/en/GillSans-Medium.eot?#iefix') format('embedded-opentype'),
		 url('font/en/GillSans-Medium.woff') format('woff'),
		 url('font/en/GillSans-Medium.ttf') format('truetype');
  }
  @font-face {
	font-family: noto;
	unicode-range:U+0041-005A, U+0061-007A;
	font-style: normal;
	font-weight: 900;
	src: url('font/en/GillSans-Bold.eot');
	src: url('font/en/GillSans-Bold.eot?#iefix') format('embedded-opentype'),
		 url('font/en/GillSans-Bold.woff') format('woff'),
		 url('font/en/GillSans-Bold.ttf') format('truetype');
  }
/* @font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 900;
	src: url('font/en/Roboto-Bold.eot');
	src: url('font/en/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		 url('font/en/Roboto-Bold.woff') format('woff'),
		 url('font/en/Roboto-Bold.ttf') format('truetype');
}
@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 600;
	src: url('font/en/Roboto-Medium.eot');
	src: url('font/en/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
		 url('font/en/Roboto-Medium.woff') format('woff'),
		 url('font/en/Roboto-Medium.ttf') format('truetype');
}
@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 400;
	src: url('font/en/Roboto-Regular.eot');
	src: url('font/en/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		 url('font/en/Roboto-Regular.woff') format('woff'),
		 url('font/en/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: roboto;
	font-style: normal;
	font-weight: 200;
	src: url('font/en/Roboto-Light.eot');
	src: url('font/en/Roboto-Light.eot?#iefix') format('embedded-opentype'),
		 url('font/en/Roboto-Light.woff') format('woff'),
		 url('font/en/Roboto-Light.ttf') format('truetype');
} */

/*========================================================================================================================
	공통
==========================================================================================================================
*/
.mgb5 {
	margin-bottom:5px
}
.mgb10{
	margin-bottom:10px
}
.mgb20{
	margin-bottom:20px
}
.mgb30{
	margin-bottom:30px
}
.mgb40{
	margin-bottom:40px
}
.mgb50{
	margin-bottom:50px
}
.mgb60{
	margin-bottom:60px
}
.mgb70{
	margin-bottom:70px
}
.mgb80{
	margin-bottom:80px
}
.mgb90{
	margin-bottom:90px
}

.mgt5{
	margin-top:5px !important
}
.mgt10{
	margin-top:10px !important
}
.mgt20{
	margin-top:20px !important
}
.mgt30{
	margin-top:30px !important
}
.mgt40{
	margin-top:40px !important
}
.mgt50{
	margin-top:50px !important
}
.mgt60{
	margin-top:60px!important
}
.mgt70{
	margin-top:70px!important
}
.mgt80{
	margin-top:80px!important
}
.mgt90{
	margin-top:90px
}
.mgt10{
	margin-top:100px
}
.mgl10{
	margin-left:10px
}
/*margin-left*/
.mgl10{
	margin-left:10px
}
.mgl20{
	margin-left:20px
}
.mgl40{
	margin-left:40px
}
.mgl50{
	margin-left:50px
}
.mgl60{
	margin-left:60px
}
.mgl70{
	margin-left:70px
}
.mgl80{
	margin-left:80px
}
.mgl90{
	margin-left:90px
}
/*right*/
.mgr10{
	margin-right:10px
}
.mgr20{
	margin-right:20px
}
.mgr40{
	margin-right:40px
}

.red {
	color:#f8ccb8
}

input[placeholder]{
	font-size:10px
}

button.btn_type {
	background: linear-gradient( to right ,  #c9e4dd 30%, #f8cdba 80% );;
	min-width: 100px;
	text-align: center;
	color:#fff;
	height: 44px;
	padding:0 5px;
	font-size:14px;
	font-weight: 900;
	min-width: 200px;
	border-radius: 1px 10px 10px 1px;
}
.dual-btns{
	text-align: center;
}
.dual-btns > button:nth-of-type(1){
	margin-bottom: 8px
}
input[type=file]{
	display:none;
	width:0;
	height: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

input[type=checkbox]{
	display:none;
	text-indent: -9999px;
	width:0;
	height: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type=checkbox] + label{
	padding-left:20px;
	position: relative;
	vertical-align: middle;
	font-size: 9px;
	display:inline-block;
	min-height: 15px;
}
input[type=checkbox] + label::before{
	content: "";
	width:15px;
	height: 15px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	background-image:url(../images/checkbox.png) ;
	left:0;
	top:0;

}
input[type=checkbox]:checked + label::before{
	background-image: url(../images/checkbox_checked.png);

}
input[type=radio] + label,input[type=checkbox] + label{
	cursor:pointer;
}
input[type=radio]{
	display:none;
	text-indent: -9999px;
	width:0;
	height: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
input[type=radio] + label{
	padding-left:29px;
	position: relative;
	margin-right: 30px;
	font-size: 15px;
	font-weight:200;
}
input[type=radio] + label:last-child{
	margin-right: 0;
}
input[type=radio] + label:before{
	content: "";
	width:22px;
	height: 22px;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-image: url(../images/radio.png);
	position: absolute;
	left:0;
	top:0;
}
input[type=radio]:checked + label:before{
	background-image: url(../images/radio_on.png);
}

.tb {
	display: table;
	width: 100%;
}
.tb > div {
	display:table-cell;
	width: 50%;
}
/*
===========================================================================================================================
팝업
===========================================================================================================================
*/
.layer-popup {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 60;
	background-color: rgb(255 255 255 / 78%);
}

.layer-popup.show {
	display: block;
}

.layer-popup .dimmed {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.layer-popup .popup {
	overflow-y: auto;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	background-color: #fff;
	text-align: center;
}
.layer-popup .popup .main {
	font-size: 24px;
	font-weight: bold;
	color:#c4e2da
}
.layer-popup .popup .sub {
	font-size: 11px;
	color:#b3b3b3;
	margin-top: 15px ;
}
/*
===========================================================================================================================
header
===========================================================================================================================
*/
.title-wrap{
	margin-top: 25px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
.title-wrap .title{
	width:calc( 100% - 136px );
	display: inline-block;
	height: 55px;
	float: left;
	background:url(../images/logo.png) no-repeat center / contain
}
.title-wrap .hamberger{
	width:68px;
	display:inline-block;
	height:60px;
	float: left;
	background: url(../images/menu_icon.png) no-repeat 23px 10px / 15px;

}
.title-wrap .myinfo{
	width: 68px;
	display: block;
	float: right;
	padding-right:23px;
	text-align: right;
	
}
.title-wrap .myinfo > div:nth-of-type(1){
	margin-top:5px
}
.title-wrap .myinfo > div {
	overflow: hidden;
	margin-bottom:10px
}
.title-wrap .myinfo  a {
	width: 100%;
	font-size: 10px;
	font-weight: bold;
	color:#a7d1c6;
	line-height: 10px;
	height: 10px;
	float: right;
}
.title-wrap .myinfo a.icon_search{
	display: inline-block;
	width: 12px;
	height:12px;
	background:url(../images/icon_search.png)no-repeat center / contain;
}
/*
===========================================================================================================================
gnb
===========================================================================================================================
*/
.gnb-wrap{
	transition: all 0.2s ease-in-out;
	position: fixed;
	width:40%;
	height:100%;
	z-index: 999;
	display: inline-block;
	background-color: #fff;
	left:-100%
}
.gnb-wrap{
	overflow-y:auto ;
	background: linear-gradient( 30deg,  #c9e4dd 50%, #f8cdba 70% );
}
.gnb-wrap.on{
	left:0
}
.gnb-wrap .close-gnb{
	display: inline-block;
	width:16px;
	height:16px;
	background:url(../images/btn_close.png)no-repeat 0 0 / contain;
	margin-top: 6px;
}

.gnb-wrap .gnb-title{
	overflow: hidden;
	padding: 19px 25px
}
.gnb-wrap .dep01{
	text-align: right;
	padding-right:18px;
	font-size: 15px;
	color:#fff;
	font-weight: bold;
}
.gnb-wrap .dep01 li {
	padding-bottom: 24px;
	z-index: 10;
	font-size: 15px;
	font-weight: 400;
}
.gnb-wrap .dep01 li .dep02{
	margin-top:10px;
	overflow: hidden;
}
.gnb-wrap .dep01 li .dep02 a.on {
	color:#888
}
.gnb-wrap .dep01 li > span{
	border-bottom: 2px solid #fff;
}
.gnb-wrap .dep01 li a{
	display: inline-block;
	height: 10px;
	line-height: 10px;
	width: 100%;
	color:#fff;
	font-weight: 400;
	font-size: 10px;
	width: 100%;
    float: right;
    margin-bottom: 5px;
}

/*
===========================================================================================================================
footer
===========================================================================================================================
*/
.footer .ft_top {
	margin-bottom: 20px
}
.footer .ft_top .logo {
	display: inline-block;
	width: 64px;
	height: 32px;
	margin-right: 5px;
	background: url(../images/logo_footer.png) no-repeat center / contain;
}
.footer .ft_top > div {
	display: inline-block;
	vertical-align: top;
	font-size: 9px;
}
.footer .ft_top span.brand {
	display: inline-block;
	width: 30px;
	height: 8px;
	background:url(../images/logo_brand.png) no-repeat center / contain;
}

.footer .ft_mid {
	margin-bottom: 20px;
}
.footer .ft_mid .customer-center {
	font-size: 13px;
	font-weight: bold;
	margin-bottom:10px
}
.footer .ft_mid .tb {
	margin-bottom:5px
}
.footer .ft_mid .tb div:nth-of-type(1) {
	width: 73px;
}
.footer .ft_mid .tb div:nth-of-type(2) {
	width: calc( 100% - 73px )
}
.footer .ft_bottom .tb div:nth-of-type(2){
	text-align: right;
}
.footer .ft_bottom button{
	font-size: 10px;
	font-weight: bold;
	color:#b3b3b3
}
.footer .ft_bottom > p, .footer .ft_bottom > .tb{
	margin-bottom:5px
}
.footer .ft_bottom > .tb > div:nth-of-type(1){
	width: calc( 100% - 75px );
}
.footer .ft_bottom > .tb > div:nth-of-type(2){
	width: 75px
}
/*
===========================================================================================================================
login
===========================================================================================================================
*/
.login .longin-conts {
	text-align: center;
	width: 200px;
	margin: 0 auto
}

.tit-p{
	font-size: 22px;
	color:#c4e3da;
	font-weight: bold;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 30px;
}
.tit-p > span{
	color:#e0fcf4;
}
.tit-p > span:first-child{
	margin-right:20px
}
.tit-p > span.on{
	color:#c4e3da
}
.border{
	width: 100%;
	border-bottom: 1px solid #c8e5dc;
	overflow: hidden;
}
.border label {
	float: left;
}
.login .longin-conts .border label{
	width: 40px;
	font-weight: 900;
	font-size: 24px;
	vertical-align: bottom;
	color:#c8e5dc;

}
.login .longin-conts .border input{
	width: calc( 100% - 40px );
	vertical-align: bottom;
	height: 22px;
	margin-top: 11px;
}
.border input {
	border:none;
	float: left;
	display: inline;
}
.warn-txt{
	font-size: 8px;
	color:#f8ccb8;
	text-align: right;
}
.pass-txt{
	font-size: 8px;
	color:#aacdc4;
	text-align: right;
}
.find a{
	font-size: 12px;
	font-weight: 900;
	color:#c8e5dc
}
.input-item {
	padding-bottom:17px;
	position: relative;
	margin-bottom:17px
}
.input-item .warn-txt,.input-item .pass-txt{
	right:0;
	position: absolute;
	bottom: 0;
}
.form-type input[type="text"],table input[type="password"],table input[type="num"] {
	border:none;
	border-bottom:1px solid #c4e2da;
	font-size: 10px;
	height:22px;
	width: 100%;
}
.form-type .input-item .warn-txt,.form-type .input-item .pass-txt{
	text-align: left;
	right:auto;
	left:0
}
.form-type th label {
	font-size: 13px;
	font-weight: bold;
}
.form-type th {
	text-align: right;
	padding-right:11px;
	color:#c4e2da;
	vertical-align: top;
	font-size: 12px;
	line-height: 28px;
}
.form-type td {
	vertical-align: top;
}
.input-item.dub {
	padding-bottom: 33px;
} 
.form-type .tb{
	margin-bottom: 27px;
}
.form-type .tb > div:first-child {
	width: 26px;
	font-size:30px;
	color:#e0fcf4;
	line-height: 30px;
	font-weight: 900;
}
.form-type .tb > div {
	width: calc( 100% - 30px );
	vertical-align: bottom;
}

.findid .form-type  {
	width: 240px;
	margin: 0 auto;

}
.form-type .with-btn input{
	width: calc( 100% - 45px );
	height: 25px;
}
.form-type .with-txt{
	position: relative;
}
.form-type .with-txt > span{
	position: absolute;
	top: 4px;
	left:0;
	font-size: 8px;
	color:#aacdc4
}
.form-type .with-txt input {
	padding-left:86px ;
}
.form-type button.btn_type.mini {
	min-width: auto;
	height:25px;
	width: 45px;
	font-size: 10px;
}
.input-item.pdn{
	padding-bottom:0;
	margin-bottom: 0;
}
button.btn_type.mini{
	min-width: auto;
	height:25px;
	width: 45px;
	font-size: 10px;
}
.findid .warn-txt{
	width: 200px;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 10px;
	padding-top: 10px;
}
.image-list .tb .img{
	width:175px;
	height:125px;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 10px;
}
.image-list .tb .conts{
	width:calc( 100% - 175px);
	padding-left: 20px;
}
.image-list .tb{
	margin-bottom: 27px;
}
.image-list .tb .conts .tit{
	font-size: 11px;
	color:#aacdc4;
	font-weight: 900;
	padding:5px 0;
} 
.image-list .tb .conts .add{
	font-size: 11px;
}
.image-list .tb .conts .date{
	font-size: 7px;
	margin-bottom: 10px;
}
.lnb {
	overflow: hidden;
	border-bottom: 1px solid #add4ca;
	margin-bottom: 9px;
}
.lnb .lnb-tit {
	float:left;
	font-size: 13px;
	font-weight: 900;
	color:#b3b3b3;
	margin-right: 23px;
	line-height: 22px;
}
.lnb .lnb-conts {
	float:left;
	font-size: 10px;
}
.lnb .lnb-conts li {
	display: inline;
	margin-right:10px ;
}
.lnb .lnb-conts li a {
	color:#b3b3b3;
	line-height: 22px;
}
.lnb .lnb-conts li.on a {
	color:#add4ca
}
.sub-tit {font-size: 9px; margin-bottom: 28px;}
.cmt {

}
.cmt .cmt-tit {
	margin-top:40px;
	margin-bottom: 15px;
	font-size: 13px;
	font-weight: bold;
	color:#a7d1c6
}
.blue {
	color:#aacdc4
}
.cmt em {
	color:#a7d1c6
}
.container .contents {
	padding:0 10px
}
.definition .contents .tit{
	border-bottom: 1px solid #a7d1c6;
	color:#a7d1c6;
	padding-bottom: 5px;
	font-size: 13px;
	margin-bottom: 15px;
}
.definition .sc .unit span:first-child{
	display: inline-block;
	color:#a7d1c6;
	width: 52px;
	vertical-align: top;
}
.definition  .sc .unit span:nth-of-type(2){
	display: inline-block;
	color:#f8ccb8;
	width: calc( 100% - 55px);
	vertical-align: top;
}
.definition  .sc {
	padding-right: 14px;
}
button.btn_type.mid {
	min-width: 104px;
	font-size: 13px;
	height: 32px ;
}
.definition .order > div {
	padding-left: 24px;
	position: relative;
	min-height: 25px;
	margin-bottom: 25px;
}
.definition .order > div strong {
	color: #add4ca;
}
.definition .order > div .num {
	position: absolute;
	top: 0;
	left: 0;
	font-size:30px;
	font-weight: bold;
	color: #e0fcf4;
	line-height: 25px;
}
.definition  .order button.btn_type.mid {
	margin-top:10px
}
.board table {
	width: 100%;
	vertical-align: middle;
}
.board table td {
	padding: 10px 0;
	border-bottom: 1px solid #add4ca;
}
.board table td.type{
	font-size: 9px;
	color:#add4ca;
	padding-left:5px
}
.board table td.cmt .comment{
	display: inline-block;
	line-height: 20px;
	border-radius: 5px;
	background-color: #add4ca;
	color:#fff;
	font-size: 10px;
	width: 100%;
	text-align: center;
}
.board table td.cont{
	padding-left: 10px;
}
.board table td.cont .br-tit {
	font-size: 12px;
}
.board table tr:first-child td{
	border-top: 1px solid #add4ca;
}
.board table .notice td.cont .br-tit{
	font-weight: bold;
}
.board table td.cont .br-info{
	font-size: 8px;
}
.board table td.cont .br-info span{
	display: inline-block;
}
.board table td.cont .br-info .date{
	margin-left: 5px;
	color:#add4ca
}
.board table td.cont .br-info .hits{
	margin-left: 5px;
	color:#b3b3b3
}
.board .tit{
	text-align: center;
	font-size: 13px;
	color:#add4ca;
	font-weight: 900;
	margin-bottom: 25px;
}
.detail .detail-type > .date{
	font-size: 9px;
	color: #a7d1c6;
	margin-top: 20px;
	text-align: right;
	margin-bottom: 40px;
}
.detail .detail-type p {
	text-align: center;
	font-size: 11px;
}
.detail .detail-type p.d-tit{
	font-size: 13px;
	font-weight: 600;
	color: #add4ca;
	margin-bottom: 24px;
}
.detail .detail-type p.edit{
	font-size: 9px;
	margin: 10px 0 30px 0
}
.detail .detail-type > .date > span {
	color:#f8ccb8
}
.detail .detail-type .conts img {
	margin-bottom: 35px;
}
.detail .detail-type .conts strong {
	font-size: 11px;
	color: #add4ca;
}
.detail .cmt-zone {
	margin-top:40px
}
.detail .cmt-zone .head{
	border-bottom: 1px solid #add4ca;
	font-size: 12px;
	font-weight: bold;
	position: relative;
	line-height: 25px;
	color: #add4ca;
}
.detail .cmt-zone button{
	min-width: 45px;
	height:22px;
	font-size:10px ;
	border-radius: 0 6px 6px 0;
	line-height: 22px;
}
.detail .cmt-zone .head > div{
	position: absolute;
	right:0;
	top:0
} 
.detail .cmt-zone .cmt-unit {
	padding: 13px 18px;
	font-size: 11px;
	border-bottom: 1px solid #add4ca;
}
.detail .cmt-zone .cmt-unit.re{
	padding-left: 50px;
}
.detail .cmt-zone .cmt-unit .user {
	color: #add4ca;
}
.detail .cmt-zone .cmt-unit .user .date{
	font-size: 8px;
	margin-left: 15px;
}
.detail .cmt-zone .cmt-unit img {
	max-width: 100%;
}
.detail .cmt-zone .cmt-unit .user .date .red {
	margin-left: 5px;
}
.detail .cmt-zone .my-cmt{
	width: 240px;
	margin: 0 auto;
}
.detail .cmt-zone .my-cmt input {
	border:none;
	border-bottom: 1px solid #aacdc4;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 5px;
	height: 22px;
}
.detail .cmt-zone .my-cmt input::placeholder{
	color:#aacdc4;
	height: 25px;
}
.detail .cmt-zone .my-cmt .add-poto .btns{
	text-align: right;
	width: 90px;
}
.detail .cmt-zone .my-cmt .add-poto .btns button{
	min-width:43px;
}
.detail .cmt-zone .my-cmt .add-poto > div{
	vertical-align: top;
}
.detail .cmt-zone .my-cmt .add-poto > div.potos {
	overflow-x: auto ;
	width: calc( 100% - 90px );
	overflow: hidden;
}
.detail .cmt-zone .my-cmt .add-poto > div.potos > .small-img{
	width: 45px;
	background-position: center;
	background-size: cover;
	height: 45px;
	float: left;
	margin-right:5px;
	position: relative;
}
.detail .cmt-zone .my-cmt .add-poto > div.potos > .small-img::after{
	content:"X";
	color:#fff;
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.4);
	line-height: calc(100%*4.5);
	text-align: center;
}
.detail .detail-type.type02 p{
	text-align: left;
}
.detail .detail-type.type02 p.d-tit {
	font-size: 11px;
	color:#b3b3b3;
	margin-top: 20px;
	margin-bottom: 0;
}
.detail .detail-type.type02 p.d-tit .catg{
	color:#c4e2da;
	margin-right: 8px;
}
.detail .detail-type.type02 p.date {
	margin: 5px 0 20px;
}
.detail .detail-type.type02 p.date strong{
	margin-right: 5px;
}
.pagnation .prev , .pagnation .next{
	display: inline-block;
	margin:0 10px;
	width: 8px;
	height:13px;
	background: url(../images/btn_prev.png) no-repeat center / contain;
}
.pagnation .next{
	background: url(../images/btn_next.png) no-repeat center / contain;
}
.pagnation{
	margin:20px 0 15px 0;
	text-align: center;
}
.pagnation ul{
	overflow: hidden;
	display: inline-block;
}
.pagnation ul li {
	float: left;
	padding: 0 10px
}
.pagnation ul li a {
	color:#a7d1c6
}
.pagnation ul li.on{
	color:#f8ccb8
}
.pagnation ul li.on a{
	color:#f8ccb8
}
.drop-d {
	position: relative;
}
.drop-d .selected{
	padding-left: 13px;
	background: url(../images/icon_drop.png) no-repeat 0 center / 9px;
	color: #add4ca;
}
.drop-d .option{
	display: none;
	position: absolute;
	top: 15px;
	left: 0;
	background: #fff;
	border: 1px solid #add4ca;
	z-index: 5;
	padding: 5px;
}
.drop-d .option li {
	padding: 0 5px
}
.board  .search-zone .drop-d,.board  .search-zone .search-bar{
	display: inline-block;
	
}
.board  .search-zone{
	margin: 0 auto 20px auto;
	width: 204px;
}
.board  .search-zone .search-bar{
	width: 80px;
	position: relative;
	float: right;
}
.search-bar{
	position: relative;
}
.search-bar input{
	width: 100%;
	padding-right:15px;
	border:none;
	border-bottom: 1px solid #add4ca;
	height: 20px;	
}
.qna .search-bar {
	width: 110px;
}
.search-bar .btn-search {
	display: inline-block;
	width: 11px;
	height:11px;
	position: absolute;
	right:0;
	top:3px;
	background: url(../images/icon_search_sm.png) no-repeat center / contain;
}
.board table td {
	overflow: hidden;
}
.board table td input[type=checkbox] + label {
	float: right;
}
.board .fix{
	overflow: hidden;
	margin-bottom: 10px;
	padding:0 15px 
}
.board .fix > div:nth-of-type(1){
	float: left;
}
.board .fix > div{
	float:right;
}
.board .fix input + label{
	margin-top: 8px;
}
.my03 .board table td.cont .br-info .date{
	margin-right:5px;
	margin-left: 0;
}
.my03 .board table .status {
	font-size: 8px;
	color: #add4ca;
}
.my03 .board table .status.red{
	color: #f8ccb8
}
.my03 .board table .status02 {
	font-size: 8px;
	text-align: center;
}
.tab-area ul{
	overflow: hidden;
	
}
.tab-area ul li {
	display: inline-block;
	width:calc( 25% - 3px );
	margin-right:3px;
	margin-bottom:3px;
	float: left;
	padding:12px 0;
	text-align: center;
	background-color: #add4ca;
	height: 40px;

}
.tab-area ul li {
	
}
.tab-area ul li a{
	color:#fff;
	font-size: 11px;
	font-weight: bold;
}
.tab-area ul li.on{
	background: #fff;
}
.tab-area ul li.on a{
	color: #add4ca;
}
.qna-list ul li{
	margin-bottom: 22px;
}
.qna-list ul li .tit {
	font-size: 12px;
	margin-bottom: 4px;
	color:#aacdc4
}
.qna-list ul li .conts{
	font-size: 11px;
}
.list .row > div:first-child{
	padding-right:10px;
	padding-left:0
}
.list .row > div{
	padding-left:10px
}
.list .row{
	margin-bottom: 20px;
}
.list .row .tit {
	font-size: 13px;
	font-weight: 900;
	color: #aacdc4;
	margin-bottom: 10px;
}
.list .row .add{
	height: 33px;
	overflow: hidden;
	margin-bottom: 5px;
}
.list .row .info{
	text-align: right;
	border-bottom: 1px solid #aacdc4;
	padding-bottom: 10px;
}
.pd03 .part {
	max-width: 208px;
	margin: 0 auto;
}
.pd03 .part.wid{
	max-width: 270px;
}
.pd03 .part .form-type th{
	text-align: left;
}
.pd03 .part .tit{
	color: #add4ca;
	font-size: 13px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
.pd03 .part .form-type .input-item{
	margin:0;
	padding:0
}
.pd03 .part .select{
	margin-bottom: 20px ;
}
.pd03 .part .top .right {
	float: right;
}
.pd03 .part .top .blue{
	font-size: 13px;
}
.pd03 .part .select img {
	margin-bottom: 5px;
}

.pd03 .part{
	margin-bottom: 25px;
}
.editor-type textarea {
	border:2px solid #a7d1c6;
	border-radius: 20px;
	height: 210px;
	overflow-y: auto;
	margin-bottom: 15px;
}
.editor-type .form-type th{
	font-size: 10px;
}
.editor-type .form-type .drop-d .selected {
	font-size: 10px;
	height: 22px;
}
.editor-type .drop-d .option {
	font-size: 10px;
	top:21px
} 
.editor-type input[type=checkbox] + label {
	padding-left: 14px;
	margin-left: 3px;
}
.editor-type .tit {
	text-align: center;
	color: #a7d1c6;
	font-size: 12px;
} 
.editor-type .file {
	position: relative;
	margin-bottom: 5px;
}
.editor-type .file:last-child {
	margin-bottom: 20px;
}
.editor-type input[type=file] + label {
	width: 10px;
	height: 10px;
	display: inline-block;
	background: url(../images/icon_file.png) no-repeat center / contain;
	position: absolute;
	right:0;
	top:8px
}
@media screen and (max-width:320px) {
	

}
